<%= simple_form_for @timezone, :remote => true do |f| %>
  <%= f.input :name %>
  <%= f.input :city %>
  <%= f.input :difference %>
  <% if current_user.admin? %>
    <%= f.input :email, hint: "Enter the email of the person you want to have this timezone attached to or leave blank so it attaches to yourself.", input_html: {value: @timezone.try(:user).try(:email) } %>
  <% end %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
