<table id="timezone-table" class="table table-striped custab">

  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Time</th>
      <% if current_user.admin? %>
        <th>Owner</th>
        <th colspan="2"></th>
      <% else %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @timezones.each do |timezone| %>
      <tr id="timezone_<%= timezone.id %>">
        <td><%= link_to timezone.name, timezone %></td>
        <td><%= link_to timezone.city, timezone %></td>
        <td class="time"><strong><%= @local_times[timezone.id] %></strong></td>

        <% if current_user.admin? %>
          <td><%= timezone.user.email %></td>
        <% end %>

        <td><%= link_to 'Show', timezone %></td>
        <td><%= link_to 'Edit', edit_timezone_path(timezone) %></td>
        <td><%= link_to 'Destroy', timezone, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></td>
      </tr>
    <% end %>
  </tbody>
</table>
