<div class="row">
  <div class="column-md-6">
    <div class="panel panel-info">

      <div class="panel-heading">
        <h4>Editing timezone <%= @timezone.name %></h4>
      </div>

      <div class="panel-body">

        <div id="timezone_edit">
          <%= render 'form' %>
        </div>

        <p></p>
        <%= link_to 'Show', @timezone %> |
        <%= link_to 'Back', timezones_path %>
      </div>

    </div>
  </div>
</div>
