<div id="timezone-notice" class="alert alert-warning hidden">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <div id="flash_notice">
    Timezone was successfully deleted.
  </div>
</div>


<div class="container">
  <div class="row">
    <h3>Timezones</h3>
    <hr>
    
    <div class="column-lg-12">

      <%= simple_form_for :timezone, :method => 'get', :url => search_timezones_path, :html => { :id => 'timezone-search-form', :class => 'form-inline'}, :remote => true do |f| %>
        <%= f.label :name, 'Name', class: "filter-label" %>
        <%= f.input :starts_with, input_html: { name: 'starts_with', :value => params[:starts_with] }, label: false, :required => false %>
        <%= f.input :locale, :as => :hidden, :input_html => {:name => 'locale', :value => params[:locale] } %>
        <%= f.button :submit, t('search'), class: "btn btn-warning" %>
      <% end %>

      <div id="timezone-table-div">
        <%= render 'timezone_table' %>
      </div>


    </div>

  </div>

  <%= link_to 'New Timezone', new_timezone_path, class: "btn btn-primary" %>
</div>
