<div class="row">
  <div class="column-md-6">
    <div class="panel panel-info">

      <div class="panel-heading">
        <h4>New timezone</h4>
      </div>

      <div class="panel-body">

        <div id="timezone_create">
          <%= render 'form' %>
        </div>

        <p></p>
        <%= link_to 'Back', timezones_path %>
      </div>

    </div>
  </div>
</div>
