<div class="row">
  <div class="column-md-6">
    <div class="panel panel-info">

      <div class="panel-heading">
        <h4>Timezone <%= @timezone.name if @timezone.name %></h4>
      </div>

      <div class="panel-body">

        <p>
          <%= label_tag 'Name:' %>
          <%= @timezone.name %>
        </p>

        <p>
          <%= label_tag 'City:' %>
          <%= @timezone.city %>
        </p>


        <p>
          <%= label_tag 'Difference:' %>
          <%= @timezone.difference %>
        </p>

        <p>
          <%= label_tag 'Created by:' %>
          <%= @timezone.user.email %>
        </p>


        <p>
          <%= label_tag 'Local time:' %>
          <%= @local_time %>
        </p>

        <p></p>
        <%= link_to 'Edit', edit_timezone_path(@timezone) %> |
        <%= link_to 'Back', timezones_path %>
      </div>

    </div>
  </div>
</div>
