<div class="row">
  <div class="column-lg-8">
    <div class="jumbotron">
      <h1>Welcome to Timezoner!</h1>
      <p>An application that shows time in different timezones.</p>
      <br>

      <% if user_signed_in? %>
        You are signed in as <%= current_user.email %>.
      <% else %>
        <p>
          <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary btn-lg" %>
          or
          <%= link_to 'Login', new_user_session_path, class: "btn btn-primary btn-lg" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
