<%= simple_form_for(@user, url: users_path, :remote => true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :admin %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create", class: "btn btn-primary" %>
  </div>
<% end %>
