<table id="user-table" class="table table-striped custab">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr id="user_<%= user.id %>">
        <%= render user %>
      </tr>
    <% end %>
  </tbody>
</table>
