<td><%= link_to user.name, show_user_path(user) %></td>
<td><%= link_to user.email, show_user_path(user) %></td>
<% if user.admin? %>
  <td>yes</td>
<% else %>
  <td>no</td>
<% end %>
<td><%= link_to 'Edit', edit_user_path(user) %></td>
<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></td>
