<div class="row">
  <div class="column-md-6">
    <div class="panel panel-info">

      <div class="panel-heading">
        <h4>Edit <%= @user.name %></h4>
      </div>

      <div class="panel-body">

        <div id="user_edit">
          <%= render 'form_edit' %>
        </div>

        <p></p>
        <%= link_to 'Back', :back %>
      </div>

    </div>
  </div>
</div>
