<div id="user-notice" class="alert alert-warning hidden">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <div id="flash_notice">
    User was successfully deleted.
  </div>
</div>


<div class="container">
  <div class="row">
    <h3>Users</h3>
    <hr>

    <div class="column-lg-12">

      <%= simple_form_for :user, :method => 'get', :url => search_users_path, :html => { :id => 'user-search-form', :class => 'form-inline'}, :remote => true do |f| %>
        <%= f.label :name, 'Name', class: "filter-label" %>
        <%= f.input :starts_with, input_html: { name: 'starts_with', :value => params[:starts_with] }, label: false, :required => false, class: "filter-label", autofocus: true %>
        <%= f.input :locale, :as => :hidden, :input_html => {:name => 'locale', :value => params[:locale] } %>
        <%= f.button :submit, t('search'), class: "btn btn-warning" %>
      <% end %>

      <div id="user-table-div">
          <%= render 'user_table' %>
      </div>

    </div>
  </div>

<%= link_to 'New User', new_user_path, class: "btn btn-primary" %>
