<div class="row">
  <div class="column-md-6">
    <div class="panel panel-info">

      <div class="panel-heading">
        <h4>User <%= @user.name if @user.name %></h4>
      </div>

      <div class="panel-body">

        <p>
          <%= label_tag 'Name:' %>
          <%= @user.name if @user.name %>
        </p>

        <p>
          <%= label_tag 'Email:' %>
          <%= @user.email if @user.email %>
        </p>

        <% if current_user.admin? %>
          <p>
            <%= label_tag 'Admin:' %>
            <%= @user.admin? %>
          </p>
        <% end %>

        <p></p>

        <%= link_to 'Edit', edit_user_path(@user) %>
        <% if current_user.admin? %>
          | <%= link_to 'Back', users_path %>
        <% end %>
      </div>

    </div>
  </div>
</div>
