<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to "Profile", show_user_path(current_user), class: "nav navbar-nav" %></li>
  <li><%= link_to "Timezones", timezones_path, class: "nav navbar-nav" %></li>

  <% if current_user.admin? %>
    <li><%= link_to "Users", users_path, class: "nav navbar-nav" %></li>
  <% end %>

  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, remote: true, class: "nav navbar-nav" %></li>
<% else %>
  <li><%= link_to "Login", new_user_session_path, class: "nav navbar-nav" %></li>
  <li><%= link_to "Sign up", new_user_registration_path, class: "nav navbar-nav" %></li>
<% end %>
