<div class="row">
  <div class="column-md-6">
    <div class="panel panel-info">

      <div class="panel-heading">
        <h4>Sign up</h4>
      </div>

      <div class="panel-body">
        <div id="signup_form">
            <%= render 'form' %>
        </div>
        <%= render "users/shared/links" %>
      </div>

    </div>
  </div>
</div>
